/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background: url(BG.png) #555;
    background-blend-mode: exclusion;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
    background-size: 250px;
}

.dice {
  -webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
}

button.btn {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button.btn:hover { font-weight: 600; }
button.btn:hover i { margin-right: 20px; }

button.btn:focus {
    outline: none;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.btn-rules {
  outline: none;
  position: absolute;
  top: 0;
  right: -75px;
  background: #eb4d4d;
  border: 0;
  cursor: pointer;
  width: 100px;
  height: 25px;
  padding-left: 11px;
  padding-bottom: 2px;
  text-align: left;
  transition: all .3s cubic-bezier(0, 1.5, 1, 1.2);
}

.btn-rules:hover {
  right: 0px;
  transition: all .3s cubic-bezier(0, 1, 1, 1);
}

i.ion-information {
  color: #eee;
  font-size: 1em;
  margin: 0;
  padding-top: 2px;
}

.btn-rules:hover i.ion-information {
  color: #424242;
}

.btn-rules:hover span {
  border: 2px solid #eb4d4d;
  line-height: 23px;
}

.btn-rules span {
  text-transform: uppercase;
  color: #fff;
  background: #424242;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  height: 25px;
  width: 75px;
  text-align: center;
  line-height: 25px;
  font-size: .8em;
  letter-spacing: .3em;
}

.rules {
  position: absolute;
  top: -800px;
  height: 100%;
  width: 100%;
  color: #bbb;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  padding: 50px;
  line-height: 35px;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  font-size: .9em;
}

.rules h4 {
  color: #eb4d4d;
  font-size: 1.2em;
}

button.x {
  outline: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1em;
  width: 17px;
  border: none;
  background: #eb4d4d;
  border-radius: 25px;
  padding-bottom: 1px;
  transition: all .4s;
}

button.x:hover {
  transform: rotate(360deg);
  transition: all .4s;
}

li {
  margin-left: 17px;
  line-height: 30px;
}

.player-2-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}



/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;

}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

button[disabled]:hover { cursor: not-allowed; }

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }

.footer {
    height: 25px;
    position: absolute;
    bottom: 0;
    background: #333;
    width: 100%;
    color: #bbb;
    font-size: .7em;
    line-height: 25px;
    text-align: center;
}

.footer a {
  color: #EB4D4D;
  text-decoration: none;
  transition: all .4s ease-in-out;
}

.footer a:hover {
  color: #FFC107;
  transition: all .4s ease-in-out;
}
